h3 완료여부
section.options.done 
  a(data-value='true').option 완료
  a(data-value='false').option 미완료
  a(data-value='all').all 전체

h3 중요도
section.options.people 
  a(data-value='6').option 인원 5명 이상
  a(data-value='5').option 인원 5명
  a(data-value='4').option 인원 4명
  a(data-value='3').option 인원 3명
  a(data-value='2').option 인원 2명
  a(data-value='1').option 인원 1명
  a(data-value='all').all 전체

h3 분류
section.options.category
  a(data-value='여행자').option 여행자
  a(data-value='호스트').option 호스트
  a(data-value='all').all 전체
