extends layout

block hero-unit
  .jumbotron
    .container
      h1 reserve a room

block content
  .container
    .row
      .col-md-6
        h3 예약 서비스
        p 본 서비스는 입력을 받아 예약을 진행합니다.
      .col-md-6
        h3 주요 기능
        ul
          li 사용자 관리
          li 예약
          li 완료된 일 체크
  
